/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
}

/* Estilos para o Cabeçalho */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea00ff;  /* Cor de fundo */
    padding: 20px;
    color: white;
    border-bottom: 3px solid #ea00ff; /* Linha de separação */
}

header .logo h1 {
    font-size: 32px;
    font-family: 'Arial', sans-serif;
    margin-right: 20px;
}

header .social-media {
    display: flex;
    align-items: center;
}

.instagram-link {
    text-decoration: none;
}

.instagram-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.instagram-icon:hover {
    transform: scale(1.1);  /* Efeito de aumentar o ícone */
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #F5F5DC;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #ea00ff;
    color: #F5F5DC;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .social-media {
        margin-top: 10px;
    }
}
