/* style.css */More actions
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
}

/* Estilos para o Cabeçalho */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;  /* Cor de fundo */
    background-color: #ea00ff;  /* Cor de fundo */
    padding: 20px;
    color: white;
    border-bottom: 3px solid #34495E; /* Linha de separação */
    border-bottom: 3px solid #ea00ff; /* Linha de separação */
}

header .logo h1 {
@@ -53,7 +53,7 @@

footer {
    text-align: center;
    background-color: #008080;
    background-color: #ea00ff;
    color: #F5F5DC;
    padding: 10px 0;
    position: fixed;